* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* body-style */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

/* p:style */
p {
  margin: 10px;
  font-family: Space Mono;
  font-size: 13px;
}

h1 {
  font-family: Space Mono;
}
/* parent-box */
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* navigation-styles */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}
/* styles on li in nav-bar */
li {
  display: flex;
}

/* styles on logo */
li .logo {
  display: flex;
  margin: none;
  padding: none;
  width: 100px;
  height: 100px;
}

/* navigation-ul-no-style */
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.navbar ul li img {
  padding: 0px;
}
/* styles on list */
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

/* styles on links */
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  transition-duration: 500ms;
  font-family: Space Mono;
}

/* styles on links when hovering */
.navbar ul li a:hover {
  color: rgb(43, 43, 43);
  font-size: 1.2rem;
}

/* overall style on sections */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

/* styles on section-one */
section#one {
  background: url(images/3.jpg) no-repeat center center/cover;
}

.parentOne {
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
}

.boxOne {
  width: 500px;
  height: 400px;
  background: rgba(0, 0, 0, 0.7);
  margin: 10%;
  margin-top: 15%;
  padding: 50px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

section#one button {
  margin-top: 20%;
  width: 100px;
  height: 40px;
  border: none;
}

/* styles on second section */
section#two {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}

/* styles on divs in section#two */
.parentTwo {
  height: 100%;
  width: 100%;
  display: flex;
}

.titleTwo {
  width: 50%;
  height: 100vh;
  text-align: left;
  padding: 100px;
}

.boxTwo {
  width: 700px;
  text-align: left;
  align-items: center;
  display: flex;
}

/* styles on section three */
section#three {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}

.parentThree {
  display: column;
  justify-content: flex-start;
}
.boxThree {
  background: url(images/3.jpg) no-repeat center center/cover;
  height: 50vh;
  width: 100vw;
  align-self: flex-start;
}

section#three h1 {
  margin: 40px;
  font-family: Space Mono;
}

section#three p {
  margin: 40px;
}

.buttonThree {
  width: 400px;
  height: 40px;
}

/* styles on section four */
.buttonFour {
  width: 100px;
  height: 50px;
  margin: 10px;
}

section#four {
  display: flex;
  justify-content: flex-start;
}

.parentFour {
  display: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}

.boxFour {
  background: url(images/3.jpg) no-repeat center center/cover;
  height: 50vh;
  width: 100vw;
  align-self: flex-start;
}

.lowerParent {
  display: flex;
  justify-content: space-around;
}

.smallerBox {
  width: 35vw;
  height: 35vh;
  background: rgba(0, 0, 0, 0.7);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 5%;
  padding: 10px;
}

.smallerBox h1 {
  font-family: Space Mono;
  margin: 10px;
  font-size: 30px;
}
section#five {
}

section#six {
}

section#seven {
}

section#eight {
}
