* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body-style */
body {
  font-family: Aileron;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  width: auto !important;
}

/* p:style */
p {
  font-family: Aileron;
  font-size: 18px;
}

h1 {
  font-family: Montserrat;
  font-size: 47.12px;
  font-weight: medium;
  color: #df8c40;
}

h2 {
  font-family: Montserrat;
  font-size: 29.12px;
  color: #df8c40;
  font-weight: lighter;
  margin-bottom: 10%;
}

button {
  /* margin-top: 20%; */
  width: 120px;
  font-family: Aileron;
  background: white;
  border-color: white;
  color: #251c12;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #df8c40;
  border-color: #df8c40;
  color: white;
}

/* parent-box */
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* navigation-styles */
.navbar {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  display: flex;
  margin-top: 10%;
  padding: 40px;
}

.logotype {
  align-self: left;
  justify-self: flex-start;
}
.logotype img {
  height: 100px;
  width: 100px;
}
/* styles on li in nav-bar */
li {
  display: flex;
}

/* navigation-ul-no-style */
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: right;
}

/* styles on list */
.navbar ul li {
  margin: 0 1rem;
  padding: 0.5rem;
}

/* styles on links */
.navbar ul li a {
  text-decoration: none;
  color: #f4f4f4;
  transition-duration: 500ms;
  font-family: Aileron;
}

/* styles on links when hovering */
.navbar ul li a:hover {
  color: #df8c40;
  font-size: 1.2rem;
}

/* overall style on sections */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto !important;
  height: 100vh;
  scroll-snap-align: center;
}

/* styles on FIRST */
section#one {
  position: relative;
}

section#one video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

section#one p {
  margin-top: 10px;
}

section#one h1 {
  color: #df8c40;
}
.parentOne {
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
}

.boxOne {
  width: 420px;
  height: 400px;
  /* background: rgba(0, 0, 0, 0.7); */
  margin: 7%;
  margin-top: 25%;
  padding: 50px;
  z-index: 1;
  position: relative;
}

section#one .boxOne img {
  position: absolute;
}

.navbar .logotype {
  width: 100 px;
  height: 100 px;
  margin-top: -3.5%;
}
.navbar li img {
  margin-top: 4px;
}

section#one button {
  margin-top: 48px;
}

section#one button p {
  margin-top: 0px;
  font-size: 14px;
}

/* styles on SECOND SECTION */
section#two {
  background-image: linear-gradient(315deg, #000000 0%, #363838 74%);
  display: flex;
  color: #df8c40;
}

/* styles on divs in section#two */
.parentTwo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

section#two h1 {
  margin-bottom: 10px;
}

section#two p {
  margin-top: 40px;
  font-size: 18px;
}

.titleTwo {
  width: 590px;
  text-align: left;
  align-items: center;
  padding: 94px;
  flex-direction: column;
  margin-left: 58.8%;
  z-index: 1;
}

.boxTwo {
  width: 550px;
  text-align: left;
  align-items: center;
  padding: 70px;
  flex-direction: column;
  margin-left: 62%;
  z-index: 1;
}

/* .boxTwo p {
  margin-left: 40px;
} */
.planet {
  position: absolute;
  height: 80vh;
  z-index: 1;
}
.boxTwo img {
  position: absolute;
  width: 33%;
}

.biglines {
  position: absolute;
  top: 40%;
  left: 0;
}

.firstInTimeline {
  position: absolute;
  top: 28%;

  color: white;
  z-index: 1;
  left: 126px;
  transform: translateX(-50%);
}

.firstStep {
  position: absolute;
  top: 45%;
  color: white;
  z-index: 1;
  width: 100px;
  left: 126px;
  transform: translateX(-50%);
}

.secondInTimeline {
  position: absolute;
  top: 56%;
  color: white;
  z-index: 1;
  left: 374px;
  transform: translateX(-50%);
}

.secondStep {
  position: absolute;
  top: 29.5%;
  color: white;
  z-index: 1;
  width: 100px;
  left: 374px;
  transform: translateX(-50%);
}

.thirdInTimeline {
  position: absolute;
  top: 28%;
  left: 577px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
}

.thirdStep {
  position: absolute;
  top: 45%;
  left: 577px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  width: 120px;
}

.fourthInTimeline {
  position: absolute;
  top: 64.5%;
  left: 734px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  width: 60px;
}

.forthStep {
  position: absolute;
  top: 68.5%;
  left: 734px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  width: 120px;
}

.fifthInTimeline {
  position: absolute;
  top: 45.7%;
  left: 854px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  width: 60px;
}

.fifthStep {
  position: absolute;
  top: 38.3%;
  left: 854px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  width: 120px;
}
/* styles on SECTION THREE */
section#three {
  display: flex;
  justify-content: flex-start;
  background: url(images/5.png) no-repeat center center/cover;
}

.parentThree {
  display: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
}

.upRight {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
}

.upRightText {
  position: absolute;
  right: 30px;

  color: white;
  width: 170px;
}

.downRight {
  position: absolute;
  /* top: 68%;
  left: 62%; */
  color: white;
  bottom: 0;
  right: 0;
}

.downRightText {
  position: absolute;
  /* top: 65.5%;
  left: 82%; */
  color: white;
  width: 190px;
  text-align: left;
  right: 8px;
}

.upLeftText {
  position: absolute;
  top: 12px;
  left: 0%;
  color: white;
  width: 190px;
  text-align: left;
}

.upLeft {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
}

.downLeft {
  position: absolute;
  top: 0;
  left: 0%;
  color: white;
}

.downLeftText {
  position: absolute;
  top: 12px;
  left: 0;
  color: white;
  width: 190px;
  text-align: left;
  width: 150px;
}

.comboUpRight {
  top: 37%;
  left: 64%;
  width: 250px;
  height: 115px;
  position: absolute;
}

.comboDownRight {
  top: 65%;
  right: 5%;
  width: 500px;
  height: 145px;
  position: absolute;
}

.comboUpLeft {
  top: 30%;
  left: 20%;
  width: 500px;
  height: 145px;
  position: absolute;
}

.comboDownLeft {
  top: 62%;
  left: 10%;
  width: 500px;
  height: 145px;
  position: absolute;
}
/* .boxThree {
  background: url(images/3.jpg) no-repeat center center/cover;
  height: 67vh;
  align-self: flex-start;
} */

/* .boxThreeLower {
  background: rgba(0, 0, 0, 0.7);
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

/* section#three p {
  margin: 40px;
} */

/* .buttonThree {
  width: 400px;
  height: 40px;
} */

/* section#three input {
  width: 550px;
  height: 40px;
  border: none;
} */
/* 
section#three input[type="submit"] {
  font-family: Aileron;
  width: 100px;
} */

/* styles on SECTION FOUR  */
.smallerBox button {
  align-self: baseline;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
  margin-bottom: 25px;
}

.buttonBox {
  display: flex;
  justify-content: flex-start;
}

section#four {
  display: flex;
  /* justify-content: flex-start; */
  background: url(images/test.jpg) no-repeat center center/cover;
}

.parentFour {
  display: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.childFour {
  margin-top: 40%;
}
.parentFour input[type="text"] {
  font-family: Aileron;
  width: 400px;
  height: 50px;
  text-align: center;
  background: white;
  border-color: white;
  color: black;
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  font-family: Aileron;
  background: white;
  border-color: white;
  margin-top: 5%;
  visibility: hidden;
  color: black;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

input[type="submit"]:hover {
  background: white;
  border-color: white;

  color: black;
}

/* section#five .carousel {
  width: 100%;
  height: 100%;
} */

.carousel {
  height: 100vh;
  width: 100vw;
}

.cell {
  width: 50px;
  height: 50px;
}

/* 
.lowerParent {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.smallerBox {
  width: 25vw;
  height: 40vh;
  background: rgba(0, 0, 0, 0.7);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 5%;
  padding: 10px;
  font-family: Aileron;
  margin-left: 7%;
  margin-right: 7%;
  text-align: left;
  padding: 20px;
}

.smallerBox h1 {
  font-family: Montserrat;
  margin-bottom: 10px;
  font-size: 30px;
  align-self: center;
  margin-top: 10px;
} */

/* Styles on fifth section */
/* section#five {
  background: rgba(0, 0, 0, 0.7);
}

section#five p {
  margin: 0px;
  margin-top: 10px;
}
.parentFive {
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
}

.boxFive {
  width: 500px;
  height: 400px;
  background: rgba(0, 0, 0, 0.7);
  margin: 10%;
  margin-top: 15%;
  padding: 50px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

section#five button {
  margin-top: 20px;
} */
/* 
Styles on sixth section */
/* section#six {
  background-color: rgba(0, 0, 0, 0.7);
}

.parentContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.containerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.containerMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.img {
  background: white;
  width: 200px;
  height: 200px;
  margin: 10px;
} */

/* Styles on seventh section  */
/* section#seven {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
} */

/* styles on divs in section#two */
/* .parentSeven {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleSeven {
  width: 100%;
  height: 20vh;
  text-align: center;
  margin-top: 30px;
}

.smallParentSeven {
  height: 80vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.formSeven {
  height: 50vh;
  width: 40vw;
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

section#seven input {
  height: 50px;
  width: 400px;
}

section#three input[type="submit"] {
  font-family: Aileron;
  width: 100px;
}

section#seven form {
  margin: 10px;
}
section#seven form {
  height: 50px;
}

.textDiv {
  height: 200px;
  width: 200px;
} */
/* Styles on eight section */
section#eight {
  background: url(images/3.jpg) no-repeat center center/cover;
}

.parentEight {
  display: flex;
  height: 100vh;
  align-items: flex-end;
}

footer {
  background: black;
  opacity: 90%;
  height: 20vh;
  align-items: center;
}

.footerParent {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footerOne {
  display: flex;
  margin-left: 200px;
}

.footerTwo img {
  display: flex;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.footerThree {
  display: flex;
  margin-right: 200px;
}
