.footerParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  z-index: 99;
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 0;
}

.footerOne {
  display: flex;
  margin-left: 50px;
}

.footerTwo {
  width: 200px;
  height: 50px;
}
.footerTwo img {
  width: 200px;
  height: 50px;
}

.footerThree {
  display: flex;
  margin-right: 50px;
  margin-top: 10px;
}
@media screen and (max-width: 425px) {
  .footerParent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  footer img {
    width: 100vw;
    height: 30px;
  }

  .footerTwo {
    height: 30px;
  }
  .footerTwo img {
    /* width: 200vw; */
    height: 20px;
  }

  .footerThree p {
    font-size: 16px;
  }

  .footerOne {
    margin-left: 0;
  }

  .footerThree {
    margin: 0;
  }
}
