* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hexagonButton {
  position: relative;
  display: block;
  background: transparent;
  width: 170px;
  height: 24px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  font-family: Aileron;
  font-size: 14px;
}

.hexagonButton:before,
.hexagonButton:after {
  position: absolute;
  content: "";
  width: 170px;
  left: 0px;
  height: 20px;
  z-index: -1;
}

.hexagonButton:before {
  transform: perspective(15px) rotateX(5deg);
  height: 22px;
}
.hexagonButton:after {
  top: 25px;
  transform: perspective(15px) rotateX(-5deg);
  height: 22px;
}

.hexagonButton.border:before,
.hexagonButton.border:after {
  border: 2px solid white;
}

.hexagonButton.border:before {
  border-bottom: none;
}
.hexagonButton.border:after {
  border-top: none;
}

.hexagonButton.border:hover:before,
.hexagonButton.border:hover:after {
  background: white;
}
.hexagonButton.border:hover {
  color: black;
}
