* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* 1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.slider .txt {
  position: absolute;
  color: #4fc4e9;
  letter-spacing: 2px;
  line-height: 35px;
  top: 5%;
  left: 18%;
  /* -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s; */
  z-index: 1;
  justify-content: left;
}

.txt .knapp,
.txtRation .knapp {
  margin: 40% 3% 0% 3%;
}
.hex {
  position: absolute;
  width: 20%;
}

.arrows {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.textBox {
  width: 300px;
  text-align: left;
  margin-top: 10%;
}

.textBoxRation {
  width: 37%;
  text-align: right;
  margin-left: 70%;
}

.textBox {
  margin-top: 7%;
}

.textBox p {
  padding-top: 5%;
}

.textBox h1 {
  padding-bottom: 5%;
}

.slider .txtRation {
  position: absolute;
  color: #4fc4e9;
  letter-spacing: 2px;
  /* line-height: 35px; */
  top: 10%;
  /* left: 50%; */
  z-index: 1;
  justify-content: right;
  display: flex;
  text-align: right;
  flex-wrap: wrap;
  margin-right: 15%;
}
.textBoxRation .knapp {
  margin-top: 220px;
}
.textBoxRation {
  text-align: right;
  justify-content: right;
}

.hexLeft {
  position: absolute;
  width: 20%;
  top: 18%;
  right: 0;
}

.hexLeft img {
  position: absolute;
  top: 14%;
  right: 0;
}
.textBoxRation p {
  padding-top: 5%;
}
.sign {
  float: right;
  line-height: 60px;
  margin-right: 40px;
}
.sign a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.act {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 6px 15px;
}
.sign a:hover {
  color: #4fc4e9; /* blue */
  border-color: #4fc4e9; /* blue */
}
/* /1 */

/* 2 */
.slider {
  position: relative;
  width: 100%;
  background: #2c3e50; /* darckblue */
}
.myslide {
  height: 100vh;
  display: none;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  transition: 0.1s;
  user-select: none;
  z-index: 20;
}
.prev:hover,
.next:hover {
  color: #4fc4e9; /* blue */
}
.next {
  right: 0;
}
.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
/* /2 */

/* javascript */
.active,
.dot:hover {
  border-color: #4fc4e9; /* blue */
}
/* /javascript */

/* muslide add fade */
.slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/* /muslide add fade */

/* 3 */

@-webkit-keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

@keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

.txt h1,
.txtRation h1 {
  color: #4fc4e9;
  margin-bottom: 5%;
}

/* 4 */
.slider .merch {
  transform: scale(1.1, 1.1);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 20s;
  animation-name: zoomin;
  animation-duration: 20s;
}
@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
/* /4 */

/* 5 */
/* @media screen and (max-width: 800px) {
  .myslide {
    height: 500px;
  }
  .slider .txt {
    letter-spacing: 2px;
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
  } */

/* @-webkit-keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }

  @keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }

  .txt h1 {
    font-size: 40px;
  }
  .txt p {
    font-size: 13px;
  }
} */

.carousel {
  height: 100vh;
  width: 100vw;
}

.cell {
  width: 50px;
  height: 50px;
}

section#seven .hexagonButton {
  margin-top: 100px;
}

.buttonContainer {
  text-align: right;
  align-self: right;

  height: 50px;
  margin-left: 240px;
}

.merchMobile {
  display: none;
  width: 425px;
}

.merch {
  display: block;
}

@media screen and (max-width: 425px) {
  .txt h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .sign {
    margin-right: 20px;
  }
  .sign a {
    font-size: 12px;
  }
  .txt {
    width: 400px;
  }

  .merchMobile {
    display: block;
    width: 425px;
  }

  .merch {
    display: none;
  }

  .textBoxRation {
    width: 300px;
    text-align: left;
    margin: 0;
  }

  .textBoxRation {
    width: 300px;
    text-align: left;
    margin: 0;
  }

  .textBoxRation {
    width: 300px;
    text-align: left;
    margin: 0;
  }
}
