section#eight {
  justify-content: flex-end;
  position: relative;
}

section#eight video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  section#eight video {
    height: 100%;
  }

  section#eight {
    height: 550px;
  }
}
