/* styles on SECTION FOUR, email  */

section#email {
  display: flex;
  background: url(../images/mains/interior-komprimerad.webp) no-repeat center
    center/cover;
}

section#email h1 {
  color: #4fc4e9;
}

.emailContainer {
  display: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.emailBox {
  margin-top: 40vh;
  width: 100%;
}

.emailContainer input[type="text"] {
  font-family: Aileron;
  width: 400px;
  height: 50px;
  text-align: center;
  background: white;
  border-color: white;
  color: black;
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  border: hidden;
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  font-family: Aileron;
  background: white;
  border-color: white;
  margin-top: 5%;
  visibility: hidden;
  color: black;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  transition-duration: 0.5s;
  border: hidden;
}

input[type="submit"]:hover {
  background: #df8c40;
  border-color: #df8c40;
  cursor: pointer;
  color: white;
  border: hidden;
}

@media screen and (max-width: 425px) {
  h1 {
    margin-bottom: 10px;
  }

  .emailBox {
    margin-top: 10%;
  }

  .emailContainer input[type="text"] {
    width: 350px;
  }
}
