/* styles on SIXTH section, footer */

section#footer {
  justify-content: flex-end;
  position: relative;
}

section#footer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  section#footer {
    height: 550px;
  }

  section#footer video {
    height: 100%;
  }
}
