* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;

  -webkit-border-radius: 7px;
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}

::selection {
  background-color: #4fc4e9;
  color: white;
}

/* body-style */
body {
  font-family: Aileron;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  width: auto !important;
}

/* p:style */
p {
  font-family: Aileron;
  font-size: 18px;
}

h1 {
  font-family: Montserrat;
  font-size: 47.12px;
  font-weight: medium;
  color: #df8c40;
}

h2 {
  font-family: Montserrat;
  font-size: 29.12px;
  color: #df8c40;
  font-style: Regular;
  margin-bottom: 10%;
}

button {
  border: hidden;
}
/* parent-box */
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* overall style on sections */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto !important;
  height: 100vh;
  scroll-snap-align: center;
}

/* media-queries for navbar*/

@media screen and (max-width: 425px) {
  .container {
    width: 425px;
    /* overflow-x: hidden; */
  }
  h1 {
    font-family: Montserrat;
    font-size: 29.1px;
    font-weight: medium;
    color: #df8c40;
  }
  section {
    scroll-snap-align: none;
  }

  p {
    font-size: 16px;
  }
}
